<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/team">Our Team</a></li>
	        		<li><a href="/mckay">The McKay Airway</a></li>
	        		<li><a href="/contact">Contact Us</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:soteriamedtech@gmail.com">email</a></li>
	        		<li><a href="https://github.com/soteriamedtech">github.com/soteriamedtech</a></li>
				</ul>
			</footer>
		</body>
	</html>
